.post{
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin-top: 5%;
    width: 50%;
    margin-left: 5%;
    
}
.heading{
    display: flex;
    justify-content: space-between;
}
.imgContainer{
    height: auto;
    width: 100%;
}