.spacer{
    position: relative;
    height: 5em;
    z-index: 1;
    background-color: brown;
}

.smallContainer{
    z-index: 2;
    top: 0;
    position: sticky;
    display: flex;
    background-color: rgba(255, 255, 255, 0.836);
    border-bottom: solid 1px grey;;
}
.smallSublistContainer{
    display: flex;
    overflow: auto;
    width: 120%;
    gap: 5%
}
.smallFormContainer{
    
    border-right: solid 1px grey;
    padding-right: 1em;
    margin-left: 1.3em;
}

